# Credenciais do Banco de Dados
DB_USER=seu_usuario
DB_PASS=sua_senha
DB_HOST=localhost
DB_PORT=5432
DB_NAME=alvorada_db

# Configurações do Servidor
PORT=3000
HOST_URL=localhost
DATABASE_URL=postgresql://seu_usuario:sua_senha@localhost:5432/alvorada_db
